li:hover {
  cursor: pointer;
}

ul.dropdown-cart{
  min-width:250px;
}
ul.dropdown-cart li .item{
  display:block;
  padding:3px 10px;
  margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
  background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left{
  float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float:left;
}
ul.dropdown-cart li .item-left span.item-info{
  margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}
ul.dropdown-cart li .item-right{
  float:right;
}
ul.dropdown-cart li .item-right button{
  margin-top:14px;
}
/* rocketpower starts here */


a#navbarDropdown {
  display: flex;
}

::after {
  margin: auto;
}

p {
  margin: auto!important;
}

.shopcart-container {
  display: flex;
  margin-left: auto;
}

.items {
  margin-top: 70px;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.show {
  opacity: 1;
}
.card{
min-width: 18rem!important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background-color: #0d6efD !important;
  color: white;
  /* text-decoration-color: white; */
}

a.navbar-brand {
  color: white;
}

a.nav-a.nav-link.active {
  color: white;
}
a.nav-link {
  color: white;
}